.ck-imce-private-image-button::before {
  background: url(images/private_image.png) no-repeat 50% 50%;
}

.ck-imce-private-public-image-button::before {
  background: url(images/public_image.png) no-repeat 50% 50%;
}

.ck-imce-private-link-button::before {
  background: url(images/private_link.png) no-repeat 50% 50%;
}

.ck-imce-private-public-link-button::before {
  background: url(images/public_link.png) no-repeat 50% 50%;
}

.ck-imce-private-button::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
}
