.ckeditor5-toolbar-button.ckeditor5-toolbar-button-imce_private_image {
  background-image: url(images/private_image.png);
  background-size: 16px;
}

.ckeditor5-toolbar-button.ckeditor5-toolbar-button-imce_private_public_image {
  background-image: url(images/public_image.png);
  background-size: 16px;
}

.ckeditor5-toolbar-button.ckeditor5-toolbar-button-imce_private_link {
  background-image: url(images/private_link.png);
  background-size: 16px;
}

.ckeditor5-toolbar-button.ckeditor5-toolbar-button-imce_private_public_link {
  background-image: url(images/public_link.png);
  background-size: 16px;
}
